<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Firebird.v2-5-x.Embedded" version="2.5.6.0006" targetFramework="net461" />
  <package id="FirebirdSql.Data.FirebirdClient" version="5.12.1" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net461" />
</packages>